@model HutechWork.Models.CHITIETTUYENDUNG
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Chi Tiết Phiếu Đăng Tuyển</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h3>Mã Phiếu Đăng Tuyển: @Model.MAPDT  -  Tên Doanh Nghiệp: @Model.PHIEUDANGTUYEN.TAIKHOAN_DN.TTDOANHNGHIEP.TENDN</h3>
        </dt>
        <dt>
            <h4>Ngày đăng tuyển: @String.Format("{0:dd/MM/yyyy}", Model.PHIEUDANGTUYEN.NGAYDANGTIN)</h4>
        </dt>
        <dt>
            <h4>Thời hạn đăng tuyển: @String.Format("{0:dd/MM/yyyy}", Model.PHIEUDANGTUYEN.THOIHANDANGTIN)</h4>
        </dt>
        <dt>
            <h4>Tiêu đề: @Model.TIEUDE</h4>
        </dt>

        <dt>
            <h4>Chức danh: @Model.CHUCDANH</h4>
        </dt>

        <dt>
            <h4>Chức danh: @Model.CAPBAC</h4>
        </dt>

        <dt>
            <h4>Tên ngành: @Model.NGANH.TENNGANH</h4>
        </dt>

        <dt>
            <h4>Địa chỉ làm việc: @Model.DIACHILAMVIEC</h4>
        </dt>

        <dt>
            <h4>Thành phố: @Model.THANHPHO.TENTHANHPHO</h4>
        </dt>

        <dt>
            <h4>Mức lương tối thiểu: @Model.MUCLUONGTOITHIEU</h4>
        </dt>

        <dt>
            <h4>Mức lương tối đa: @Model.MUCLUONGTOIDA</h4>
        </dt>

        <dt>
            <h4>Mô tả công việc: @Model.MOTACV</h4>
        </dt>

        <dt>
            <h4>Yều cầu công việc: @Model.YEUCAUCV</h4>
        </dt>

        <dt>
            <h4>Kỹ năng: @Model.KYNANG</h4>
        </dt>

        <dt>
            <h4>Người liên hệ: @Model.NGUOILIENHE</h4>
        </dt>

        <dt>
            <h4>Email liên hệ: @Model.EMAILLIENHE</h4>
        </dt>

        <dt>
            <h4>Tình Trạng: @Model.TINHTRANG</h4>
        </dt>
    </dl>
</div>
<hr />
<h3>Bạn có chắc muốn xóa không?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<input type="submit" value="Xóa" class="btn btn-default"/>
}
<p></p><a href="/Admin/Index">&lt&lt Trở lại</a>
