@model IEnumerable<HutechWork.Models.THANHPHO>
<div class="input-group">
    @foreach (var item in Model)
    {
        if (Session["diadiem"] != null)
        {
            if (@item.MATHANHPHO.ToString() == Session["diadiem"].ToString())
            {
                <option selected="selected" value="@item.MATHANHPHO">@item.TENTHANHPHO</option>
            }
            else
            {
                <option value="@item.MATHANHPHO">@item.TENTHANHPHO</option>
            }
        }
        else
        {
            <option value="@item.MATHANHPHO">@item.TENTHANHPHO</option>
        }
    }
</div>