
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}
<div class="banner">
    <div class="container">
        <div class="banner-caption">
            <div class="col-md-12 col-sm-12 banner-text">
                <h1>Hàng Ngàn Cơ Hội Việc Làm</h1>
                <form class="form-horizontal">
                    <div class="col-md-4 no-padd">
                        <div class="input-group">
                            <input type="text" class="form-control right-bor" placeholder="Nhập tên công việc, công ty ...">
                        </div>
                    </div>            
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                @Html.Action("Nganhnghe", "TrangChu")
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="form-control">
                                <option>Địa điểm</option>
                                @Html.Action("Diadiem", "TrangChu")
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 no-padd">
                        <div class="input-group" >
                            <button type="submit" class="btn btn-primary">Tìm Việc</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p></p>

<div class="wrapper" style="background-color:#F5F5F5">
        <div class="container">
            <div>
                <h2 style="text-align:center">Việc làm mới nhất</h2>
            </div>
            @foreach (var item in Model)
            {
                <a href="job-detail.html" class="item-click">
                    <article>
                        <div class="brows-job-list" style="background-color:white">
                            <div class="col-md-1 col-sm-2 small-padding"  style="padding-top:20px">
                                <div class="brows-job-company-img">
                                    <img src="~/img/@item.TAIKHOAN_DN.TTDOANHNGHIEP.LOGO" class="img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-5">
                                <div class="brows-job-position">
                                    <h3>@item.TIEUDE</h3>
                                    <h5 style="padding-top:0px">@item.TAIKHOAN_DN.TTDOANHNGHIEP.TENDN</h5>
                                    <p><span>@item.NGANH.TENNGANH</span><span class="brows-job-sallery"><i class="fa fa-money"></i>@String.Format("{0:0,0}", item.MUCLUONGTOITHIEU) - @String.Format("{0:0,0}", item.MUCLUONGTOIDA) VND</span></p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="brows-job-location">
                                    <p><i class="fa fa-map-marker"></i>@item.DIACHILAMVIEC - @item.THANHPHO.TENTHANHPHO </p>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="brows-job-location">
                                    <span><p>Ngày đăng:</p><p>@String.Format("{0:dd/MM/yyyy}", item.NGAYDANGTIN)</p></span>
                                </div>
                            </div>
                        </div><span class="tg-themetag tg-featuretag">Mới Nhất</span>
                    </article>
                </a>
            }
        </div>
</div>
