
@using HutechWork.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Duyệt Phiếu Đăng Tuyển</h4>
        <p class="card-category">Kiểm tra đúng đắn trước khi đăng tin</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                <th>
                    Mã PDT
                </th>
                <th>
                    Tên doanh nghiệp
                </th>
                <th>
                    Ngày đăng tin
                </th>
                <th>
                    Tiêu đề
                </th>
                <th></th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.MAPDT
                            </td>
                            <td>
                                @item.PHIEUDANGTUYEN.TAIKHOAN_DN.TTDOANHNGHIEP.TENDN
                            </td>
                            <td>
                                @String.Format("{0:dd/MM/yyyy}", @item.PHIEUDANGTUYEN.NGAYDANGTIN)
                            </td>
                            <td>
                                @item.TIEUDE
                            </td>
                            <td>
                                <a href="@Url.Action("ChiTiet","Admin",new { id = @item.MAPDT })">Chi Tiết</a> |
                                <a href="@Url.Action("Xoa","Admin",new { id = @item.MAPDT })">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

