@model HutechWork.Models.TAIKHOAN_CN

@{
    ViewBag.Title = "XoaCN";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận xóa tài khoản cá nhân</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Tài Khoản
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MATKCN)
        </dd>
        <dt>
            Tên Đăng Nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>
        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINCANHAN.HO) @Html.DisplayFor(model => model.THONGTINCANHAN.TEN)
        </dd>
        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINCANHAN.GIOITINH)
        </dd>
        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINCANHAN.EMAIL)
        </dd>
        <dt>
            Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINCANHAN.SDT)
        </dd>
        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONGTINCANHAN.DIACHI)
        </dd>
        <dt>
            Ảnh Đại Diện
        </dt>

        <dd>
            <img src="~/img/@Model.THONGTINCANHAN.HINHDD" />
        </dd>
    </dl>
</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <a href="/Admin/TaiKhoanCN">&lt&lt Trở lại</a>
        </div>
    }
